nav{
    height: 60px;
    background-color: rgb(0, 60, 0);
    color: #eaeaea;
}
.p1{
    margin-right: 10px;
}

.konten .sidebar ,.main{
    height: 700px;
}

.sidebar{
    background-color: #333;
}

.main{
    padding: 30px;
    background-color:#eaeaea;
    text-align: center;
}

.form{
    width: 800px;
    background-color: #fff;
    text-align: center;
    margin: 30px auto;
    padding: 30px;
}

input,select,button{
    height: 30px;
    width: 350px;
    margin: 5px;
}
textarea{
    resize: none;
    height: 50px;
    width: 350px;
}
button{
    color: #eaeaea;
    background-color: green;
    border: none;
    border-radius: 5px;
}